body {
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif; /* Set all font in the page to Helvetica with font formating */
	font-size: 100%; /* Generally set the font-size to 100% in the body - you can then change with em in the other areas */
	line-height: 1.7em; /* The line-height property in CSS controls the space between lines of text. */
	color: #000000; /* Hex Color Black */
}

a {
    color: #0F4970;
    text-decoration: none;
}

a:hover {
    color: #B33600;
    text-decoration: underline;
}

#top_row h1 {
    color: #FF8E00;/*white:#F0F2F4, */
    font-size: 3.75em;
    letter-spacing: -2px;
}

#top_row h3 {
    font-size: 1.125em;
    font-weight: 200;
}

#bio {
    margin-left: 3em;
    font-size: .875em;
}

#bio a {
    text-decoration: none;
    border-bottom: 1px dotted #000;
    color: #000;
}

#bio a:hover {
    color: #B33600;
}

#container {
    width: 70%;
    margin: 10px auto;
}

#top_row {
    border-bottom: 1px dotted #ccc;
    padding: .5em .5em 3em .5em;
}

#top_row header {
    margin-bottom: -2.5em;
}

#top_row nav {
    float: right;
}

#top_row nav a {
    font-size: 1.125em;
    font-weight: 400;
    padding: 15px;
    color: #000000;
}

#top_row nav a.selected {
    background: #f6f6f6;
    color: #bbbbbb;
}

#top_row nav a.selected:hover {
    background: #f6f6f6;
    color: #bbbbbb;
}

#top_row nav a:hover {
    background: #f6f6f6;
    color: #B33600;
}

#content {
    float: left;
    width: 70%;
    margin: 0;
    padding: 1em;
    border-right: 1px dotted #ccc;
}

#content h3 {
    font-family: Georgia, serif;
    font-size: 1.5em;
    margin: 30px 0 10px 0;
    font-weight: normal;
}

#content img {
    float: left;
    margin: 1em;
}

#sidebar {
    float: left;
    padding: 1em;
    font-size : .875em;
}

#sidebar h3 {
    font-size: 1.125em;
    border-bottom: 1px dotted #ccc;
}

#sidebar a {
    color: #FF5E19;
}

#sidebar a:hover {
    color: #B33600;
    text-decoration: underline;
}

footer {
    clear: both;
    margin: 0;
    padding: .5em;
    color: #333333;
    font-variant: small-caps;
    font-size: .813em;
    text-align: center;
    border-top: 1px dotted #cccccc;
}

table {
    width: 75%;
    border: 3px solid #0071ff;
    border-collapse: collapse;
    text-align: center;
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 3px;/*not used, just to satisfy "Space between the borders should be of 3px"*/
}

th{
    height: 40px;
    font: bold;
    border: 1px solid #333333;
    padding: 2px;
}

td{
    padding: 2px;
    border: 1px solid #333333;
}

form {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #0071ff;
    padding: 10px;
}

legend {
    font: bold;
    text-align: center;
    color: #666666;
    margin-bottom: 5px;
}

label {
    font-weight: bold;
    text-align: center;
}

html { overflow-y: scroll; }
